<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <form>
        <div class="mb-3">
            <label for="EnrollNo" class="form-label">ID</label>
            <input class="form-control" type="text" id="EnrollNo" />
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input class="form-control" minlength="10" maxlength="10" type="tel" id="phone" />
        </div>
    </form>
    <button id="button">Send</button>
</body>
<script>
    const button = document.getElementById('button');

    button.addEventListener('click', function () {
        sendData();
    })

    const sendData = async () => {
        const Enroll = document.getElementById('EnrollNo').value;
        const Phone = document.getElementById('Phone').value
        const Response = await fetch('/login', {
            method: 'POST',
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify({
                'enrollment_number': Enroll,
                'phone_number': Phone
            })
        })
        const Data = Response.json();
        console.log(Data)
    }

</script>

</html>